.review-cards {
  align-items: flex-end;
  background-color: rgb(188, 227, 188);
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  height: fit-content;

  padding-bottom: 425px;
  padding-top: 90px;
}

.review-card {
  width: 200px;
  height: 200px;
  justify-content: center;
  flex-direction: column;
}

.review-card img {
  width: 85%;
  height: 85%;
  object-fit: cover;
  border-radius: 50%;
}
.review-card-content {
  text-align: center;
  margin-top: 10px;
  font-size: small;
}

.review-card-content-2 {
  text-align: center;
  align-items: center;
  font-size: small;
}
