body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.body-header {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #7c7a7a;
  padding: 10px;
  border-radius: 8px;
}

.app-link {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #f5c39a;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
  width: 100px;
  height: 50px;
  text-align: center;
  margin-left: auto;
}

.app-link:hover {
  background-color: #d9d9d9;
}

.app-link a {
  text-decoration: none;
  color: #333;
}

.app-link a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  padding: 20px;
}

.header h3 {
  font-size: 2.5rem;
}

.feature {
  color: #0f0f0f;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  margin-top: 40px;
}

.feature-cards {
  display: flex;
  justify-content: space-between;
}

.feature-card {
  width: 100px;
  height: 100px;
  background-color: #666;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/* if we want the description a different setting then we would start here  */
/* .feature-card-text {
  font-size: 12px;
  color:#333333;
  margin-top: 8px
} */
.mission p {
  font-size: 1.2rem;
  color: #666;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* align-items: flex-end; */
  background-color: lightgray;
  padding: 10px;
  border-radius: 8px;
  /* margin-top: 40px; */
}

.reviews h3 {
  font-size: 2rem;
  color: #333;
}
.reviews {
  color: #0f0f0f;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: lightgray;
  padding: 10px;
  border-radius: 8px;
  margin-top: 40px;
}

.review-cards {
  display: flex;
  justify-content: space-between;
}

.review-card {
  width: 100px;
  height: 100px;
  background-color: #666;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
