body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: lightgoldenrodyellow;
}

.body-header {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #7c7a7a;
  padding: 10px;
  border-radius: 50px;
}

.app-link {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #f5c39a;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
  width: 100px;
  height: 50px;
  text-align: center;
  margin-left: auto;
}

.app-link:hover {
  background-color: #d9d9d9;
}

.app-link a {
  text-decoration: none;
  color: #333;
}

.app-link a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  padding: 20px;
}

.header h3 {
  font-size: 2.5rem;
}

.feature {
  color: #0f0f0f;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: white;
  padding: 10px;
  border-radius: 50px;
  margin-top: 40px;
}

.feature-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.feature-card {
  width: 150px;
  height: 150px;
  border-color: #333;
  border-style: dashed;
  border-radius: 50%;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.features-card-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  font-size: x-small;
}
.feature-card-content {
  text-align: center;
  align-items: center;
  padding: 10px;
}

.mission p {
  font-size: 1.2rem;
  color: #666;
  background-color: lightgray;
  padding: 10px;
  border-radius: 50px;
}

.reviews h3 {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 2rem;

  text-align: center;

  padding: 10px;
  border-radius: 8px;
}
.reviews {
  color: #0f0f0f;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: lightgray;
  padding: 10px;
  border-radius: 60px;
  margin-top: 40px;
}

.review-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.review-card {
  width: 150px;
  height: 150px;

  border-style: dashed;
  border-radius: 50%;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.user-stories{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  font-size: x-small;
}

.user-stories p{
  text-align: center;
  align-items: center;
  padding: 10px;
}