body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: white;
}

.body-header {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: rgb(188, 227, 188);
  padding: 10px;
  border-radius: 50px;
  height: 90vh;
}

.app-link {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #f5c39a;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
  width: 100px;
  height: 50px;
  text-align: center;
  margin-left: auto;
}

.app-link:hover {
  background-color: #f66052;
}

.app-link a {
  text-decoration: none;
  color: #333;
}

.app-link a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  padding: 20px;
}

.header h3 {
  font-size: 2.5rem;
}

.mission p {
  font-size: 1.2rem;
  color: #666;
  background-color: lightgray;
  padding: 10px;
  border-radius: 50px;
}

.reviews h3 {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 2rem;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
}
.reviews {
  color: #0f0f0f;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: rgb(188, 227, 188);
  padding: 20px;
  border-radius: 60px;
  margin-top: 40px;
  height: 500px;
}

.review-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.review-card {
  width: 150px;
  height: 150px;

  border-radius: 50%;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.user-stories img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  font-size: x-small;
}

.user-stories p {
  text-align: center;
  align-items: center;
  padding: 10px;
  /* height: fit-content; */
}
.review-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.review-cards p {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  font-size: small;
}

/* Media Queries css settings */

/* for cellphones  */
@media (max-width: 768px) {
  .header h3 {
    font-size: 2rem;
  }
  .feature {
    margin-top: 20px;
  }
  .feature-card {
    width: 100px;
    height: 100px;
  }
  .features-card-content {
    font-size: x-small;
  }
  .app-link {
    width: 80px;
    height: 40px;
  }
}

/* for tablets */
@media (min-device-width: 769px) and (max-device-width: 1024px) {
  .header h3 {
    font-size: 2rem;
  }
  .feature {
    margin-top: 30px;
  }
  .feature-card {
    width: 120px;
    height: 120px;
  }
  .features-card-content {
    font-size: small;
  }
  .app-link {
    width: 100px;
    height: 50px;
  }
}

/* for desktop */
@media (min-width: 1025px) {
  .header h3 {
    font: size 2.5rem;
  }
  .feature {
    margin-top: 40px;
  }
  .feature-card {
    width: 150px;
    height: 150px;
  }
  .features-card-content {
    font-size: x-small;
  }
  .app-link {
    width: 100px;
    height: 50px;
  }
}
